@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/navbar.scss";
@import "./partials/sidebar";
@import "./partials/themes";

@import "./partials/dashboard";

.search:focus{ 
  box-shadow: 0 0 0 0;
  outline: 0;
}
.input-search{
  background-color: transparent;
  padding: 3px 4px 3px 10px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #CCCCCC;
}

.text-rigth {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.full-width{
  width: 100%;
}

.icon-style {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid;
  font-size: .9rem;
}

body {
  height: 100vh;
  margin: 0;
  padding-top: 60px;
}

.wrapper {
  height: 100%;

  main {
    display: flex;
    height: 100%;

    .pages {
      overflow: auto;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;  
      opacity: .7;
      display: none;

      &.show {

        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }

  &.toggeled-sidebar {
    main {
      .overlay {
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.toast {
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}